/* Header styles */
#headerTxt {
    text-align: center;
    color: white;
    font-size: 4.5vw;
    margin: auto;
    padding: 1vh;
    background-color: #62a4f8;
    box-shadow: 0 .5vh .6vh rgba(0, 0, 0, 0.1);
    align-self: center;
}

#header {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 99.3%;
    align-items: center;
    border-top: 0.5vw transparent solid;
}
