/* General styles */
.hangoutScreen {
    display: flex;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
}

/* Hangout Image Styles */
.hangImg {
    width: 22vw;
    height: 16vh;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75)), url('../../assets/placeholderImage.jpg');
    border-radius: 1vh;
}

/* List styles */
.hangList {
    overflow-y: auto;
    scrollbar-width: thin;
    list-style-type: none;
    padding-top: 11vh;
    margin: 0;
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    gap: 1vh;
}

/* Hangout item styles */
li.hangouts, li.addHang {
    background-color: #355975;
    padding: .5vh;
    border-radius: 1vh;
    box-shadow: 0 .25vh 1vh rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: all 0.3s ease;
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    color: white;
}

li.hangouts:hover, li.addHang:hover {
    background-color: #4A7BAb;
    transform: translateY(-0.5vh);
    box-shadow: 0 0.5vh 1.5vh rgba(0, 0, 0, 0.2);
}

/* Text styles */
.hangoutName {
    position: relative;
    left: .5vw;
    top: 9vh;
    margin: 0;
    font-size: 1.5rem;
    color: white;
}

.hangoutDes {
    position: relative;
    left: .5vw;
    top: 9vh;
    margin: 0;
    font-size: 1rem;
}

/* Add hangout item styles */
.addHang {
    font-size: 1.5rem;
    font-weight: 700;
    align-items: center;
    text-align: center;
    width: 22vw;
    height: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addHangTxt {
    position: relative;
    top: -3vh;
    font-size: 10em;
    color: rgba(255, 255, 255, 0.432);
    line-height: 1;
    margin: 0;
    overflow: hidden;
}