#header-bar {
display: grid;
grid-template-columns: 75% 25%;
font-size: 3vh;
position: relative;
left: 0;
top: 0;
width: 100%;
height: 16vh;
text-align: left;
padding: 0vh;
color: #ece9da;
border-style: solid;
border-width: 0.5vw; 
border-image: linear-gradient(0deg, #355975,rgb(100, 149, 189)) 1;
border-left: 0;
border-top: 0;
border-right: 0;
}

#group-image {
background: linear-gradient(to right, transparent, #6495bd), url('../../../assets/bubAndNans.JPG') no-repeat center/cover;
}

#dropdown-button-area {
background-color: #6495bd;
place-content: center;
text-align: center;
}

#nav-options {
background-color: #355975;
padding-bottom: 0.5vw;
place-content: center;
text-align: center;
display: none;
}

#button-grid {
display: flex;
flex-direction: row;
}

#button-grid .custom-buttons {
margin-left: 1vw;
vertical-align: middle;
}

#hangout-header-text {
margin-left: 1vw;
}

#hangout-title {
font-size: 4.5vh;
}

#hangout-date {
font-size: 2.5vh;
}